.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid forestgreen;
    width: 50rem;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
}